<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)">
            <NotAuthorized>
                <LayoutView>
                    <StatusCode Value="401" NoRedirectFor401="true" Message="Sorry, you're not allowed to see this."></StatusCode>
                </LayoutView>
            </NotAuthorized>
            <Authorizing>
                <div class="section">
                    <span>Authorizing...</span>
                </div>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
