@page "/"

<PageTitle>Coming Soon - BigBang1112.cz</PageTitle>

<section>
    <main>
        <img class="logo" src="images/logo.png" />
        <section class="section">
            <a class="button button-flex" title="YouTube" href="https://www.youtube.com/c/BigBang1112tm">
                <img class="icon" src="_content/BigBang1112.Essentials.Razor/img/youtube_small.png" />
            </a>
            <a class="button button-flex" title="Discord" href="https://discord.gg/q9whS3c">
                <img class="icon" src="_content/BigBang1112.Essentials.Razor/img/discord_small.png" />
            </a>
            <a class="button button-flex" title="GitHub" href="https://github.com/BigBang1112">
                <img class="icon" src="_content/BigBang1112.Essentials.Razor/img/github_small.png" />
            </a>
            <a class="button button-flex" title="Twitter" href="https://twitter.com/BigBang1112tm">
                <img class="icon" src="_content/BigBang1112.Essentials.Razor/img/twitter_small.png" />
            </a>
            <a class="button button-flex" title="Facebook" href="https://facebook.com/BigBang1112tm">
                <img class="icon" src="_content/BigBang1112.Essentials.Razor/img/facebook_small.png" />
            </a>
            <a class="button button-flex" title="Spotify" href="https://open.spotify.com/artist/4hCfEugmmJX2po152bsceI?si=QRSDO4nBQMqvfCZG99Ef4A">
                <img class="icon" src="_content/BigBang1112.Essentials.Razor/img/spotify_small.png" />
            </a>
            <a class="button button-flex" title="Gbx Web Tools" href="https://gbx.bigbang1112.cz">
                Gbx
            </a>
            <a class="button button-flex" title="World Record Report" href="https://wr.bigbang1112.cz">
                WR
            </a>
        </section>
    </main>
</section>